.photo-list-container {
    padding: 20px;
  }
  
  .photo-list {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  
  .photo-item {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .load-more {
    text-align: center;
    margin-top: 20px;
  }
  
  .load-more-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #3b5998;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .load-more-button:hover {
    background-color: #2d4373;
  }

  .photo-item-container {
    position: relative;
  }
  
  div.photo-list div.photo-item-container .delete-icon {
    position: absolute;
    margin-top: 10px;
    padding: 5px;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: visible;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.5);
    display: none;
  }

  div.photo-list div.photo-item-container:hover .delete-icon {
    display: block;
  }